<div id="back">
  <div id="logincontainer">
    <div class="title">
      <h2>
        Escolha o tipo de conta:
      </h2>
    </div>

    <div class="login">
      <div class="options">
        <a routerLink="/profile" class="button"
          ><i class="material-icons">account_circle</i></a
        >

        <a routerLink="/profile" class="button"
          ><i class="material-icons">store</i></a
        >
      </div>
    </div>

    <div class="description">
      <p>Usuário</p>
      <p>Lojista</p>
    </div>
  </div>
</div>
