#back {
  background: rgb(28, 143, 199);
  background: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  
}

h3 {
  text-align: center;
}

.logincontainer {
  margin: 100px 30px 0 30px;
  height: 300px;
  padding: 20px;
  border: 1px solid rgb(163, 163, 163);
  background-color: white;
  border-radius: 2%;
  box-shadow: 8px 8px 16px rgb(33, 33, 63);
}

.options i.material-icons {
  background: var(--blue);
  color: white;
  font-size: 70px;
  padding: 10px;
  margin: 6px;
  border-radius: 4%;
}

p:first-child {
  margin-right: 42px;
}

.description {
  display: flex;
  justify-content: center;
}
