<div class="container-fluid">
  <app-top-bar></app-top-bar>
  <h3>Confirmação</h3>

  <div class="cart-item" *ngFor="let item of items index as i">
    <span>{{item.name}}</span>
    <span id="price">{{item.price | currency}}</span>
    <button id="x" (click)="delete(i)">Remover</button>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of items">
      <div *ngIf="item.price > 0">
        <div>
          <label for="number">
          NÚMERO DO CARTÃO
        </label>
          <input id="number" type="number" formControlName="number" />
        </div>

        <div>
          <label for="expiration">
          VALIDADE
        </label>
          <input id="expiration" type="date" formControlName="expiration" />
        </div>
      </div>
    </div>

    <button *ngFor="let item of items" class="button" type="submit">Finalizar</button>
  </form>
  <button class="button" [routerLink]="['/search']">Continuar comprando</button>

</div>