<div class="container-fluid">
  <app-top-bar></app-top-bar>
  <h3>Confirmação</h3>

  <div class="cart-item" *ngFor="let item of items index as i">
    <span>{{item.name}}</span>
    <span id="price">{{item.price | currency}}</span>
    <button id="x" (click)="delete(i)">x</button>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="number">
      NÚMERO DO CARTÃO
    </label>
      <input id="number" type="number" formControlName="number" />
    </div>

    <div>
      <label for="expiration">
      VALIDADE
    </label>
      <input id="expiration" type="date" formControlName="expiration" />
    </div>

    <button class="button" type="submit">Finalizar</button>
  </form>
</div>