/* Global Style */

* {
  font-family: 'Roboto', Arial, sans-serif;
}

/* Login Component*/

app-login * {
  background-color: rgb(255, 255, 255);
}

app-login .teste {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fancy-button3 i.material-icons {
  background-color: #0275c2;
  color: white;
  font-size: 60px;
  padding: 10px;
}
