/* Global Style */

html {
  font-family: 'montserrat', Arial, sans-serif;
  margin: 6px;
  background: rgb(28, 143, 199);
  background: var(--blue);
}

:root {
  --blue: linear-gradient(
    90deg,
    rgba(28, 143, 199, 1) 0%,
    rgba(76, 144, 205, 1) 54%,
    rgba(28, 110, 195, 1) 100%,
    rgba(67, 130, 230, 1) 100%,
    rgba(87, 141, 221, 1) 100%
  );
}

.button:hover,
button:hover {
  opacity: 0.8;
}
